<?xml version='1.0' encoding='utf-8'?>
<widget id="tk.lennonswebsite.KitsuneOffline" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kitsune</name>
    <description>
        Google's Kitsune doodle, but offline and mobile.
    </description>
    <author email="lmmclean08@gmail.com" href="https://lennons-website.herokuapp.com">
        Lennon McLean
    </author>
    <content src="logos/run.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="www/logos/icon.png" />
</widget>
